html, body {
    background-color:#ffffff;
    height: 100%;
    overflow: auto;
}

div#fixedHeader {
    position: fixed;

    top:0px;
    left:0px;
    right:0;
    padding-right:30px;
    padding-top:10px;
    border-left:10px solid #eeeff2;

    z-index: 100;
}
table#ConfigHeadline {
    background-color: #ffffff;
    border-bottom:1px solid #eeeff2;
    border-top:1px solid #eeeff2;
}
div.TaskConfigContainer {
    padding-top: 50px;
}
.vtFooter p a,
.vtFooter p {
    background-color:#eeeff2;
    color: #000;
}
table.tableHeading {
    border-bottom: 1px solid #eeeff2;
    margin-bottom:5px;
}
div.blockContainer p.title {
    font-weight:bold;
}

.formContainer input, .formContainer select {
    margin-bottom:0px;
}